# Waste Processing and Greenhouse Gas Emissions in the United States

## Data Processing Tool - Jupyter Notebook

### About this document
Author: **William Nicholas**, Indiana University O'Neill School of Public and Environmental Affairs

This document is the processing tool to clean and sort data for further analysis in Python, R, and Tableau. By using a Jupyter Notebook, it enables interested parties to replicate this analysis and conduct further research in a repeatable, error-free way.

Data came from the US EPA via the [Landfill Methane Outreach Program](https://www.epa.gov/lmop/project-and-landfill-data-state), the [GHG Reporting Program](https://www.epa.gov/ghgreporting/ghg-reporting-program-data-sets), the [Materials, Waste, and Recycling Program](https://www.epa.gov/facts-and-figures-about-materials-waste-and-recycling/advancing-sustainable-materials-management) and the [US Census Bureau](https://www.census.gov/data/tables/time-series/demo/popest/2010s-total-cities-and-towns.html#tables). In the event this data is removed by the Agency, archived copies can be found on [GitHub](https://www.github.com/wiljnich/lmop-data) or through the [Environmental Data & Governance Initiative](https://envirodatagov.org/archiving/)

### Landfill Methane Outreach Program & Projects Data

#### Ingesting the data
If you'd like to only look at a few states, you can download their data files from one of the links above. To merge them, use the script below:
```py
import pandas as pd
import glob
lf_df = pd.DataFrame()
for st in glob.glob(r'****\****\lmopdata*.xlsx'):
    df = pd.read_excel(st, 'LMOP Database')
    lf_df = lf_df.append(df,ignore_index=True)

lf_df.to_excel('landfills_all.xlsx')
```
If you'd like to look at everything, you can use this file:

```py
import pandas as pd
lf_df = pd.read_excel('lmopdata.xlsx', 'LMOP Database')
```

In [1]:
import pandas as pd
lf_df = pd.read_excel('lmopdata.xlsx', 'LMOP Database')
lf_df.head()

,GHGRP ID,Landfill ID,Landfill Name,State,Physical Address,City,County,Zip Code,Latitude,Longitude,...,Project Name,Project Start Date,Project Shutdown Date,Project Type Category,LFG Energy Project Type,RNG Delivery Method,MW Capacity,LFG Flow to Project (mmscfd),Current Year Emission Reductions (MMTCO2e/yr) - Direct,Current Year Emission Reductions (MMTCO2e/yr) - Avoided
0,1007341.0,1994,Anchorage Regional Landfill,AK,15500 E. Eagle River Loop Road,Eagle River,Anchorage,99577,61.293281,-149.602138,...,Project #1,2012-07-31,NaT,Electricity,Reciprocating Engine,NaN,5.6,2.59,0.25301,0.02958
1,1007341.0,1994,Anchorage Regional Landfill,AK,15500 E. Eagle River Loop Road,Eagle River,Anchorage,99577,61.293281,-149.602138,...,"Project #1, Expansion #1",2014-01-01,NaT,Electricity,Reciprocating Engine,NaN,1.4,NaN,0.06325,0.00740
2,1010389.0,11941,Capitol Disposal Landfill,AK,5600 Tonsgard Court,Juneau,Juneau,99801,58.352800,-134.494700,...,NaN,NaT,NaT,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN
3,1005349.0,12216,Central Peninsula Landfill (CPL),AK,46915 Sterling Highway,Soldotna,Kenai Peninsula,99669,60.447140,-151.103690,...,NaN,NaT,NaT,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN
4,NaN,10960,Kodiak Island Borough Landfill,AK,1203 Monashka Bay Road,Kodiak,Kodiak Island,99615,57.808740,-152.407610,...,NaN,NaT,NaT,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN

### Greenhouse Gas Emissions by Landfill Waste Facilities

#### For Python analysis

In [2]:
ghg_df = pd.read_excel('ghg_data_by_year.xlsx', 'Direct Emitters', header=3)
ghg_df = ghg_df[ghg_df['Latest Reported Industry Type (subparts)'].str.contains('HH') == True]
ghg_df.head()

,Facility Id,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,Primary NAICS Code,Latest Reported Industry Type (subparts),Latest Reported Industry Type (sectors),2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
0,1004377,1.100438e+11,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,3820 SAM RAYBURN HIGHWAY,COLLIN COUNTY,33.298570,-96.535860,562212,HH,Waste,250497.50,221014.75,199011.75,241883.50,289953.25,204000.00,194000.00
8,1003742,1.100104e+11,31st Street Landfill,WESTCHESTER,IL,60154,11700 W 31ST ST,COOK COUNTY,41.835129,-87.915924,562212,"C,HH",Waste,29026.80,120657.60,92696.60,120707.35,97467.50,87357.75,95113.25
24,1004680,1.100139e+11,58TH ST LF (MAIN COUNTY LF),MIAMI,FL,33178,8831 NW 58TH ST,MIAMI-DADE COUNTY,25.833010,-80.346500,562212,HH,Waste,75785.50,80230.75,84936.75,89918.75,95193.00,100776.50,106687.75
30,1012058,1.100675e+11,"A.C.M.S., Inc.",Lake Panasoffkee,FL,33538,835 CR 529,SUMTER COUNTY,28.743151,-82.091653,562212,HH,Waste,47097.00,29670.00,15626.50,NaN,NaN,NaN,NaN
45,1006529,1.100139e+11,ACADIA PARISH POLICE JURY - ACADIA PARISH SANI...,EGAN,LA,70531,611 PETAL RD,ACADIA PARISH,30.256038,-92.532637,562111,HH,Waste,52774.25,52502.75,51686.50,51001.00,50322.75,49691.00,47807.50

#### Melted for visualization

In [3]:
ghg_df = pd.read_excel('ghg_data_by_year.xlsx', 'Direct Emitters', header=3)
ghg_df = ghg_df[ghg_df['Latest Reported Industry Type (subparts)'].str.contains('HH') == True]
melt_df = pd.melt(ghg_df, id_vars=['Facility Id'], value_vars=
                                                    ['2017 Total reported direct emissions', 
                                                     '2016 Total reported direct emissions',
                                                     '2015 Total reported direct emissions',
                                                     '2014 Total reported direct emissions',
                                                     '2013 Total reported direct emissions',
                                                     '2012 Total reported direct emissions',
                                                     '2011 Total reported direct emissions'],
        var_name='Year', value_name='Total Reported Direct Emissions')
melt_df['Year'] = melt_df['Year'].str[:4]
ghg_df = ghg_df.drop(columns=
           ['2017 Total reported direct emissions', 
            '2016 Total reported direct emissions',
            '2015 Total reported direct emissions',
            '2014 Total reported direct emissions',
            '2013 Total reported direct emissions',
            '2012 Total reported direct emissions',
            '2011 Total reported direct emissions',
            'Primary NAICS Code'])
ghg_df = ghg_df.set_index('Facility Id').join(melt_df.set_index('Facility Id'))
#ghg_df.to_excel('ghg_tableau.xlsx')
ghg_df.head()

,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,Latest Reported Industry Type (subparts),Latest Reported Industry Type (sectors),Year,Total Reported Direct Emissions
Facility Id,,,,,,,,,,,,,
1000010,1.100139e+11,SANTA ROSA CENTRAL LANDFILL,MILTON,FL,32583,6337 DELISA RD.,SANTA ROSA COUNTY,30.5804,-87.0621,HH,Waste,2017,107562.00
1000010,1.100139e+11,SANTA ROSA CENTRAL LANDFILL,MILTON,FL,32583,6337 DELISA RD.,SANTA ROSA COUNTY,30.5804,-87.0621,HH,Waste,2016,106339.75
1000010,1.100139e+11,SANTA ROSA CENTRAL LANDFILL,MILTON,FL,32583,6337 DELISA RD.,SANTA ROSA COUNTY,30.5804,-87.0621,HH,Waste,2015,101770.00
1000010,1.100139e+11,SANTA ROSA CENTRAL LANDFILL,MILTON,FL,32583,6337 DELISA RD.,SANTA ROSA COUNTY,30.5804,-87.0621,HH,Waste,2014,107609.50
1000010,1.100139e+11,SANTA ROSA CENTRAL LANDFILL,MILTON,FL,32583,6337 DELISA RD.,SANTA ROSA COUNTY,30.5804,-87.0621,HH,Waste,2013,109206.00

### Population Data

In [4]:
## Special Thanks to github.com/rogerallen for this list
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'Washington, D.C.' :'DC',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [5]:
pop_df = pd.read_csv('PEP_2018_PEPANNRES_with_ann.csv')
pop_df['State'] = pop_df['Geography'].str.split(', ',expand=True)[1]
pop_df['City'] = pop_df['Geography'].str.split(', ',expand=True)[0]
pop_df['City'] = pop_df['City'].str[:-5]
pop_df.drop(columns=['Geography', 'Id'], inplace=True)
pop_df['State'] = pop_df['State'].map(us_state_abbrev)
pop_melt_df = pd.melt(pop_df, id_vars=['City', 'State'], value_vars= ['2010','2011','2012','2013','2014','2015','2016','2017','2018'],
        var_name='Year', value_name='Population')
#pop_df.to_excel('pop_data_tableau.xlsx')
#pop_melt_df.to_excel('pop_data_melt.xlsx')

### American Waste and Recycling Data

In [12]:
sheets_dict = pd.read_excel('MATERIALS_MUNICIPAL_WASTE_STREAM_1960_TO_2015.xlsx', sheet_name=None)

waste_df = pd.DataFrame()
for name, sheet in sheets_dict.items():
    sheet['Process Type'] = name
    waste_df = waste_df.append(sheet)

waste_df.reset_index(inplace=True, drop=True)
waste_df = waste_df.fillna('')
waste_df['Material'] = waste_df['Materials'] + waste_df['Products']
waste_df.drop(columns=['Materials', 'Products'], inplace=True)
waste_df = waste_df[waste_df.Material.str.contains('total') == False]
waste_df = waste_df[waste_df.Material.str.contains('Table') == False]
waste_df = waste_df[waste_df.Material != '']
#waste_df.to_excel('waste_data.xlsx')

In [13]:
waste_df.head()

,1960,1970,1980,1990,2000,2005,2010,2011,2012,2013,2014,2015,Process Type,Material
0,2.999e+07,4.431e+07,5.516e+07,7.273e+07,8.774e+07,8.484e+07,7.131e+07,6.995e+07,6.862e+07,6.855e+07,6.861e+07,6.805e+07,Materials generated,Products - Paper and Paperboard
1,6.72e+06,1.274e+07,1.513e+07,1.31e+07,1.277e+07,1.254e+07,1.152e+07,1.149e+07,1.159e+07,1.154e+07,1.148e+07,1.147e+07,Materials generated,Products - Glass
2,1.03e+07,1.236e+07,1.262e+07,1.264e+07,1.415e+07,1.521e+07,1.692e+07,1.665e+07,1.694e+07,1.772e+07,1.788e+07,1.817e+07,Materials generated,Products - Metals - Ferrous
3,340000,800000,1.73e+06,2.81e+06,3.19e+06,3.33e+06,3.51e+06,3.52e+06,3.51e+06,3.5e+06,3.53e+06,3.61e+06,Materials generated,Products - Metals - Aluminum
4,180000,670000,1.16e+06,1.1e+06,1.6e+06,1.86e+06,2.02e+06,2.02e+06,1.98e+06,2.2e+06,2.23e+06,2.22e+06,Materials generated,Products - Metals - OtherNonferrous