# Waste Processing and Greenhouse Gas Emissions in the United States

## Data Processing Tool - Jupyter Notebook

### About this document
Author: **William Nicholas**, Indiana University O'Neill School of Public and Environmental Affairs

This document is the processing tool to clean and sort data for further analysis in Python, R, and Tableau. By using a Jupyter Notebook, it enables interested parties to replicate this analysis and conduct further research in a repeatable, error-free way.

Data came from the US EPA via the [Landfill Methane Outreach Program](https://www.epa.gov/lmop/project-and-landfill-data-state), the [GHG Reporting Program](https://www.epa.gov/ghgreporting/ghg-reporting-program-data-sets), the [Materials, Waste, and Recycling Program](https://www.epa.gov/facts-and-figures-about-materials-waste-and-recycling/advancing-sustainable-materials-management) and the [US Census Bureau](https://www.census.gov/data/tables/time-series/demo/popest/2010s-total-cities-and-towns.html#tables). In the event this data is removed by the Agency, archived copies can be found on [GitHub](https://www.github.com/wiljnich/lmop-data) or through the [Environmental Data & Governance Initiative](https://envirodatagov.org/archiving/)

### Landfill Methane Outreach Program & Projects Data

#### Ingesting the data
If you'd like to only look at a few states, you can download their data files from one of the links above. To merge them, use the script below:
```py
import pandas as pd
import glob
lf_df = pd.DataFrame()
for st in glob.glob(r'****\****\lmopdata*.xlsx'):
    df = pd.read_excel(st, 'LMOP Database')
    lf_df = lf_df.append(df,ignore_index=True)

lf_df.to_excel('landfills_all.xlsx')
```
If you'd like to look at everything, you can use this file:

```py
import pandas as pd
lf_df = pd.read_excel('lmopdata.xlsx', 'LMOP Database')
```

In [2]:
import pandas as pd
lf_df = pd.read_excel('data/lmopdata.xlsx', 'LMOP Database')
lf_df.head()

,GHGRP ID,Landfill ID,Landfill Name,State,Physical Address,City,County,Zip Code,Latitude,Longitude,...,Project Start Date,Project Shutdown Date,Project Type Category,LFG Energy Project Type,RNG Delivery Method,Actual MW Generation,Rated MW Capacity,LFG Flow to Project (mmscfd),Current Year Emission Reductions (MMTCO2e/yr) - Direct,Current Year Emission Reductions (MMTCO2e/yr) - Avoided
0,NaN,10960,Kodiak Island Borough Landfill,AK,1203 Monashka Bay Road,Kodiak,Kodiak Island,99615,57.80874,-152.40761,...,NaT,NaT,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN
1,1006806.0,10961,South Cushman Landfill,AK,455 Sanduri Street,Fairbanks,Fairbanks North Star,99701,64.80476,-147.70085,...,NaT,NaT,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN
2,1011448.0,10980,Palmer Central Landfill,AK,1201 N. 49th State Street\nJust off the Palmer...,Palmer,Matanuska-Susitna,99645,61.59000,-149.21000,...,NaT,NaT,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,11000,Unalaska Landfill,AK,1181 Summer Bay Road,Unalaska,Aleutians West,99685,53.88463,-166.50657,...,NaT,NaT,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN
4,1004380.0,11020,Merrill Field Landfill,AK,800 Merrill Field Drive,Anchorage,Anchorage,99501,61.21266,-149.84012,...,NaT,NaT,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN

### Greenhouse Gas Emissions by Landfill Waste Facilities

#### For Python analysis

In [5]:
ghg_df = pd.read_excel('data/ghg_xls/ghgp_data_by_year.xlsx', 'Direct Emitters', header=3)
ghg_df = ghg_df[ghg_df['Latest Reported Industry Type (subparts)'].str.contains('HH') == True]

#### Melted for visualization

In [6]:
ghg_df = pd.read_excel('data/ghg_xls/ghgp_data_by_year.xlsx', 'Direct Emitters', header=3)
ghg_df = ghg_df[ghg_df['Latest Reported Industry Type (subparts)'].str.contains('HH') == True]
melt_df = pd.melt(ghg_df, id_vars=['Facility Id'], value_vars=
                                                    ['2017 Total reported direct emissions', 
                                                     '2016 Total reported direct emissions',
                                                     '2015 Total reported direct emissions',
                                                     '2014 Total reported direct emissions',
                                                     '2013 Total reported direct emissions',
                                                     '2012 Total reported direct emissions',
                                                     '2011 Total reported direct emissions'],
        var_name='Year', value_name='Total Reported Direct Emissions')
melt_df['Year'] = melt_df['Year'].str[:4]
ghg_df = ghg_df.drop(columns=
           ['2017 Total reported direct emissions', 
            '2016 Total reported direct emissions',
            '2015 Total reported direct emissions',
            '2014 Total reported direct emissions',
            '2013 Total reported direct emissions',
            '2012 Total reported direct emissions',
            '2011 Total reported direct emissions',
            'Primary NAICS Code'])
ghg_df = ghg_df.set_index('Facility Id').join(melt_df.set_index('Facility Id'))
#ghg_df.to_excel('ghg_tableau.xlsx')
ghg_df.head()

,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,Latest Reported Industry Type (subparts),Latest Reported Industry Type (sectors),2018 Total reported direct emissions,Year,Total Reported Direct Emissions
Facility Id,,,,,,,,,,,,,,
1000010,1.100139e+11,SANTA ROSA CENTRAL LANDFILL,MILTON,FL,32583,6337 DELISA RD.,SANTA ROSA COUNTY,30.5804,-87.0621,HH,Waste,125328.25,2017,107562.00
1000010,1.100139e+11,SANTA ROSA CENTRAL LANDFILL,MILTON,FL,32583,6337 DELISA RD.,SANTA ROSA COUNTY,30.5804,-87.0621,HH,Waste,125328.25,2016,106339.75
1000010,1.100139e+11,SANTA ROSA CENTRAL LANDFILL,MILTON,FL,32583,6337 DELISA RD.,SANTA ROSA COUNTY,30.5804,-87.0621,HH,Waste,125328.25,2015,101770.00
1000010,1.100139e+11,SANTA ROSA CENTRAL LANDFILL,MILTON,FL,32583,6337 DELISA RD.,SANTA ROSA COUNTY,30.5804,-87.0621,HH,Waste,125328.25,2014,107609.50
1000010,1.100139e+11,SANTA ROSA CENTRAL LANDFILL,MILTON,FL,32583,6337 DELISA RD.,SANTA ROSA COUNTY,30.5804,-87.0621,HH,Waste,125328.25,2013,109206.00

### Population Data

In [7]:
## Special Thanks to github.com/rogerallen for this list
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'Washington, D.C.' :'DC',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [9]:
pop_df = pd.read_csv('data/PEP_2018_PEPANNRES_with_ann.csv')
pop_df['State'] = pop_df['Geography'].str.split(', ',expand=True)[1]
pop_df['City'] = pop_df['Geography'].str.split(', ',expand=True)[0]
pop_df['City'] = pop_df['City'].str[:-5]
pop_df.drop(columns=['Geography', 'Id'], inplace=True)
pop_df['State'] = pop_df['State'].map(us_state_abbrev)
pop_melt_df = pd.melt(pop_df, id_vars=['City', 'State'], value_vars= ['2010','2011','2012','2013','2014','2015','2016','2017','2018'],
        var_name='Year', value_name='Population')
#pop_df.to_excel('pop_data_tableau.xlsx')
#pop_melt_df.to_excel('pop_data_melt.xlsx')

### American Waste and Recycling Data

#### For Python analysis

In [15]:
sheets_dict = pd.read_excel('data/MATERIALS_MUNICIPAL_WASTE_STREAM_1960_TO_2015.xlsx', sheet_name=None)

waste_df = pd.DataFrame()
for name, sheet in sheets_dict.items():
    sheet['Process Type'] = name
    waste_df = waste_df.append(sheet)
waste_df.head()
waste_df.reset_index(inplace=True, drop=True)
waste_df = waste_df.fillna('')
waste_df['Material'] = waste_df['Materials'] + waste_df['Products']
waste_df.drop(columns=['Materials', 'Products'], inplace=True)
waste_df = waste_df[waste_df.Material.str.contains('Total') == False]
waste_df = waste_df[waste_df.Material.str.contains('Subtotal') == False]
waste_df = waste_df[waste_df.Material.str.contains('Table') == False]
waste_df = waste_df[waste_df.Material != '']
waste_df['Material'] = waste_df.Material.str.replace(r'â€“', '-')
waste_df[['Material', 'Subcategory 1', 'Subcategory 2', 'Subcategory 3', 'Subcategory 4']] = waste_df['Material'].str.split('-', expand=True)
waste_df.reset_index(inplace=True, drop=True)
waste_df = waste_df.set_index(['Process Type', 'Material', 'Subcategory 1', 'Subcategory 2', 'Subcategory 3', 'Subcategory 4'])
waste_df.reset_index(inplace=True)
waste_df.head()
#waste_df.to_excel('waste_data.xlsx')

,Process Type,Material,Subcategory 1,Subcategory 2,Subcategory 3,Subcategory 4,1960,1970,1980,1990,2000,2005,2010,2011,2012,2013,2014,2015
0,Materials generated,Products,Paper and Paperboard,NaN,NaN,NaN,2.999e+07,4.431e+07,5.516e+07,7.273e+07,8.774e+07,8.484e+07,7.131e+07,6.995e+07,6.862e+07,6.855e+07,6.861e+07,6.805e+07
1,Materials generated,Products,Glass,NaN,NaN,NaN,6.72e+06,1.274e+07,1.513e+07,1.31e+07,1.277e+07,1.254e+07,1.152e+07,1.149e+07,1.159e+07,1.154e+07,1.148e+07,1.147e+07
2,Materials generated,Products,Metals,Ferrous,NaN,NaN,1.03e+07,1.236e+07,1.262e+07,1.264e+07,1.415e+07,1.521e+07,1.692e+07,1.665e+07,1.694e+07,1.772e+07,1.788e+07,1.817e+07
3,Materials generated,Products,Metals,Aluminum,NaN,NaN,340000,800000,1.73e+06,2.81e+06,3.19e+06,3.33e+06,3.51e+06,3.52e+06,3.51e+06,3.5e+06,3.53e+06,3.61e+06
4,Materials generated,Products,Metals,OtherNonferrous,NaN,NaN,180000,670000,1.16e+06,1.1e+06,1.6e+06,1.86e+06,2.02e+06,2.02e+06,1.98e+06,2.2e+06,2.23e+06,2.22e+06

#### Melted for visualization

In [11]:
waste_melt_df = pd.melt(waste_df,id_vars =['Process Type', 'Material', 'Subcategory 1', 'Subcategory 2', 'Subcategory 3', 'Subcategory 4'],var_name='Year', value_name='Tons')
#waste_melt_df.to_excel('waste_melt.xlsx')